<section class="py-10 md:py-16">

  <div class="container max-w-4xl mx-auto px-4">

    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Art</h1>

    <p class="font-normal text-gray-500 text-xs md:text-base mb-10">Maks is a digital artist and plotter enthusiast.
      He creates generative artworks that often come in digital and physical
      form. His artworks are often inspired by nature and are produced through heavy use of mathematics and coding.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="">
        <img src="assets/3dflowfields.png" alt="3D Vector flow fields 002 by Maks Surguy">
        <p class="font-normal italic text-gray-500  mb-4 break-words">
          &quot;3D Vector flow fields 002&quot;
        </p>
        <p><a class="underline text-sky-600" href="https://www.instagram.com/p/CPaAABSHHII/" target="_blank">View on
            Instagram</a>
        </p>
      </div>

      <div class="">
        <img src="assets/rain.png" alt="Infinite Rain by Maks Surguy">
        <p class="font-normal italic text-gray-500  mb-4 break-words">&quot;Infinite Rain&quot;
        </p>
        <p><a class="underline text-sky-600" href="https://www.instagram.com/p/CMAU4lInB59/" target="_blank">View on
            Instagram</a>
        </p>

      </div>

      <div class="">


        <img src="assets/nft_museum.jpg" alt="Seattle NFT Museum exhibit by Maks Surguy">
        <p class="font-normal italic text-gray-500  mb-4 break-words">NFT artwork Exhibit at Seattle NFT Museum

        </p>

        <p><a class="underline text-sky-600" href="https://www.instagram.com/p/CceltaIMTtK/" target="_blank">View on
            Instagram</a>
        </p>
      </div>

      <div class="">


        <img src="assets/nft_flowfields.png" alt="Vector Field 005 NFT by Maks Surguy">
        <p class="font-normal italic text-gray-500  mb-4 break-words">&quot;Vector Field 005&quot;
        </p>
        <p><a class="underline text-sky-600" href="https://objkt.com/asset/hicetnunc/1343" target="_blank">View on
            OBJKT NFT Marketplace</a>
        </p>



      </div>

      <div class="">
        <img src="assets/lifeForms.png" alt="Connect to Disconnect NFT by Maks Surguy">

        <p class="font-normal text-gray-500  mb-4 break-words">
          &quot;Connect to Disconnect&quot;
        </p>


        <p><a class="underline text-sky-600" href="https://objkt.com/asset/hicetnunc/254160" target="_blank">View on
            OBJKT NFT Marketplace</a>
        </p>
      </div>

      <div class="">
        <img src="assets/ai_art.jpg" alt="AI art by Maks Surguy ">

        <p class="font-normal text-gray-500  mb-4 break-words">
          Experiments with AI and generative forms
        </p>


        <p><a class="underline text-sky-600" href="https://www.instagram.com/p/CFOAsTYnmAu/" target="_blank">View on
            Instagram</a>
        </p>
      </div>

      <div class="">
        <img src="assets/drawingBots.png" alt="Drawing robot art by Maks Surguy">

        <p class="font-normal text-gray-500  mb-4 break-words">
          &quot;Art made with drawing robots&quot;
        </p>

        <p><a class="underline text-sky-600" href="https://www.youtube.com/watch?v=WKcN-lsKqK4" target="_blank">View
            on Youtube</a>
        </p>
      </div>

      <div class="">
        <img src="assets/showreel.png" alt="Drawing robot art by Maks Surguy">

        <p class="font-normal text-gray-500  mb-4 break-words">
          Generative Art Showreel
        </p>

        <p><a class="underline text-sky-600" href="https://www.youtube.com/watch?v=KYkbtBbBdIk" target="_blank">View
            on
            Youtube</a>
        </p>
      </div>
    </div>

  </div>

</section>