<section class="py-10 md:py-16">

  <div class="container max-w-4xl mx-auto px-4">

    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">In the Press:</h1>

    <p class="font-normal text-gray-500 text-xs md:text-base mb-10">


    </p>
    <ul class="list-disc list-outside px-4">
      <li>
        University of Washington Foster School of Business: 
        <a class="underline text-sky-600" href="https://magazine.foster.uw.edu/programs/gix-maks-surguy-amazon/" target="_blank">Fusing Art and Tech at the Global Innovation Exchange</a>
      </li>
      <li>MyHouse Smart Doll House in <a class="underline text-sky-600" href="https://magpi.raspberrypi.com/issues/71"
          target="_blank">MagPi Magazine</a> Issue 71, pages 36-37
      </li>
      <li>Interview by Joanna Ngai: <a class="underline text-sky-600"
          href="https://medium.com/art-%EF%B8%8E-code/creating-beautiful-vector-art-with-code-and-drawing-robots-4a894fb09247"
          target="_blank">&quot;Creating Beautiful Vector Art with Code&quot;</a></li>
      <li>Interview by Olivia Powell (PopTwig) <a class="underline text-sky-600"
          href="https://medium.com/poptwig/artist-in-focus-maks-surguy-26277c95b197" target="_blank">Artist in
          Focus: Maks Surguy</a></li>
      <li>Interview by Reuters <a class="underline text-sky-600"
          href="https://www.reuters.com/world/us/worlds-first-nft-museum-seattle-aims-pull-back-curtain-blockchain-art-2022-04-29/"
          target="_blank">World's first NFT museum in Seattle aims to 'pull back the curtain' on blockchain art</a>
      </li>
    </ul>
  </div>

</section>